.app_header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #dcdcdc;
}

.app_header>form {
    width: 40%;
}

.todo_input {
    font-size: 20px;
    font-weight: 500;
    background-color: var(--input-background);
    color: var(--input-text-color);
    border: 1px solid var(--input-border);
    border-radius: 5px;
    padding: 8px 12px;
    margin-bottom: 15px;
    width: 100%;
}

.todo_input::placeholder {
    color: var(--input-border);
}

.todo_form_bottom_line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.todo_status {
    font-size: 16px;
    font-weight: 500;
    background-color: var(--input-background);
    color: var(--input-text-color);
    border: 1px solid var(--input-border);
    border-radius: 5px;
    width: 120px;
    height: 40px;
    padding: 0 5px;
}

.todo_submit {
    font-size: 16px;
    font-weight: 500;
    background-color: var(--submit-button-color);
    color: #fff;
    border-radius: 5px;
    height: 40px;
    padding: 3px 13px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
}